.navmenu {
  }

.navmenu .menuBar {
  }

.navmenu .menu {
  }

.navmenu .menu .menuItem {
  }
  
.navmenu .menu .menuItemHdr {
  }

.navmenu .menu .menuItemSep {
  }

/* Do not touch the following */

div.menuBar {
  text-align: left;
  white-space: nowrap;
}

div.menuBar a.menuButton {
  border: 1px solid #d0d0d0;
  left: 0px;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  left: 1px;
  top: 1px;
}

div.menu {
  left: 0px;
  margin-top: -5px;
  margin-left: -1px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
}

div.menu a.menuItem span.no_style_menuItemText {}

div.menu a.menuItem span.no_style_menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}

