<style type="text/css">

  /* The first style is not seen by the browsers
     Therefore define a dummy one */
  .dummy {
    }

  body, td, th, ul {
    background-color:#dceef9;
    color:#000000; 
    font-family:verdana, arial, helvetica, sans-serif; 
    font-size:12px;
    font-weight:normal;
    margin:10px;
    }

  a:link, a:hover, a:active, a:visited { 
    font-weight:bold;
    }

  a:hover { 
    text-decoration:underline;
    }

</style>

